@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100%;
}

::-webkit-scrollbar-thumb {
  background: #a7141e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a71419;
}
